# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# Test and lint caches
.pytest_cache/
.ruff_cache/

# Data Version Control
.dvc/
.dvcignore

# Environment variables
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
